.page {
    display: flex;
    align-items: left;
    flex-direction: row;
    
    padding: 10px;
}

.navBar {
    background-color: white;
    border-radius: 49px;
    height: 500px;
    width: 15%;
    padding: 10px;
    margin: 20px;
}

.button {
    border-radius: 20px;
    border: 3px solid black;
    padding: 12px;
    background-color: rgb(2, 34, 93);
    color: white;
    cursor: pointer;
}
.button:hover {
    background-color: white;
    border-color: black;
    color: black;
}