.page {
  --background: rgb(6, 6, 31);
  --foreground: rgb(255, 255, 255);

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-image: linear-gradient(black, rgb(2, 34, 93))
}

.heading {
  font-size: 10vw;
  position: fixed;
  top: 200px;
}

.subheading {
  font-size: 50px;
  position: fixed;
  z-index: 900;
  top: 465px;
}

@media (max-width: 768px) {
  .heading {
    top: 400px;
  }
}
